
* {
  font-size: 100%;
  box-sizing: border-box;
  margin: 0;
  line-height: 1;
     /* border: 1px solid green; */
}

.column {
  float: left;
  padding: 3px;
  width: 25%;
  margin: auto;
}

.row::after {
  content: "";
  clear: both;
  display: table;
  margin: auto;
}

#about {
  background-color: MediumSeaGreen;
  color: black;
}

body {
    background-image: url(Images/more-leaves.png);
      background-repeat: repeat;
  color: black;
  font-family: helvetica, sans-serif;
  font-size: 20px;
  margin: 15px;
  font-weight: bold;
}

.box {
  background-image: url(Images/more-leaves.jpg);
}

.list {
  float: left;
  width: 50%;
  padding-bottom: 20px;
  height: 200px;
}
.title{
  font-size: 60px;
  text-decoration: none;
  color: black;
  border: 5px outset MediumSeaGreen;
  text-shadow: 2px 2px 5px white;
  text-align: center;
  background-color: MediumSeaGreen;
}

header h1 {
	text-align: center;
}
h2, h3, h4 {
 color: black;
 border: 5px outset MediumSeaGreen;
 text-shadow: 2px 2px 5px white;
 text-align: center;
 background-color: MediumSeaGreen;
 font-size: 30px;
 text-transform: capitalize;
}

p {
  font-weight: bold;
  line-height: 2;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 30px;
  margin-left: 0;
  text-align: center;
}
a {
  color: black;
  text-decoration: none;
  font-style: italic;
}
a:hover{
  text-decoration: underline;
}
li{
  line-height: 2;
}
