/* Website styles */
* {
  font-size: 100%;
  text-align: 100%;
}

body {
 background-color: lightgreen;
  color: black;
  font-family: helvetica, sans-serif;
  font-size: 20px;
}

 h1 {
  color: black;
  border: 5px outset green;
  text-shadow: 2px 2px 5px white;
  text-align: center;
  background-color: ForestGreen;
  font-size: 60px;
}
header h1 {
	text-align: center;
}
h2, h3, h4 {
 color: black;
 border: 5px outset green;
 text-shadow: 2px 2px 5px white;
 text-align: center;
 background-color: ForestGreen;
 font-size: 30px;
 text-transform: capitalize;
}
p {
  font-weight: bold;
  line-height: 2;
}
a {
  color: darkblue;
  text-decoration: none;
  font-style: italic;
}
a:hover{
  text-decoration: underline;
}
li{
  line-height: 2;
}
